<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
			Under construction..........
            I have over 3 years of experience as a electrical engineer, and have worked
            balblalba. balbla, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
		
           Under construction....
		   I love building things.
           While hard engineering problems are often intrinsically fun to tackle, abalbabablalbabl
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with blöalblabla
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Researched and build a novel mass production method for precision active alignment 
			of optical components, with less than 1 micrometer accuracy. 
    			</li>
          <li>
            Designed an "all-weather" analog laser driver with encompassing self-diagnostics and aging prediction algorithm. Reduced pic cost and kept knowledge in-house.
          <li>
            Re-designed a high end lidar final inspection test procedure to function with one piece flow principle. Presented findings to the entire Vaisala oraganisation. Work led to faster takt times and less out-of-the-box failures.  
    			<li>
            Researched and build a power scavenging device able to harvest and convert ambient radio frequency emissions into DC power. Presented the results and a working prototype,
			in the IEEE Internal Symposium on Antennas and Propagation/USNC-URSI National Radio Science meeting in Puerto Rico, 2015, and was awarded a second place.
    			</li>
    			<li>
            In charge of making radio astronomical observations with a 14-meter telescope, located in Metsähovi research center. Main targets were active galactic nuclei, like renowned M87. 
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
