<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
			I have 3 years of experience as an electrical engineer, half of which focusing on opto-electronics. 
			 of  expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
		
           Under construction....
		   I love building things.
           While hard engineering problems are often intrinsically fun to tackle, abalbabablalbabl
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with blöalblabla
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Researched and implemented a novel mass production method for active alignment 
			of optical components with submicron accuracy. 
    			</li>
          <li>
            Designed an analog laser driver with encompassing self-diagnostics. Reduced pic cost and kept knowledge in-house.
          <li>
            Re-designed a high end lidar final inspection test procedure. Work led to faster takt time and less out-of-the-box failures.  
    			<li>
            Researched and build a power scavenging device able to convert ambient radio frequency emissions into DC power. Was awarded a second place
			in the 2015 IEEE Internal Symposium on Antennas and Propagation/USNC-URSI National Radio Science meeting in Puerto Rico.
    			</li>
    			<li>
            Steered a 14-meter telescope, located in Metsähovi research center. Main targets were active galactic nuclei, like the renowned M87. 
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
